<div class="cloudDiv">
	<img src="../assets/cloud.png" class="cloud" id="cloud1" />
	<br />
	<img src="../assets/cloud.png" class="cloud" id="cloud2" />
	<br />
	<img src="../assets/cloud.png" class="cloud" id="cloud3" />
	<br />
	<img src="../assets/cloud.png" class="cloud" id="cloud4" />
	<br />
	<img src="../assets/cloud.png" class="cloud" id="cloud5" />
	<br />
	<img src="../assets/cloud.png" class="cloud" id="cloud6" />
	<br />
</div>
