<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>JengSpot</title>

		<!-- animate css -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
		/>
		<!-- bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<!-- font awesome  -->
		<script
			src="https://kit.fontawesome.com/fdd79be92b.js"
			crossorigin="anonymous"
		></script>
		<!-- Google font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<!-- custom -->
		<!-- dashboard  -->
		<link
			rel="stylesheet"
			type="text/css"
			href="../assets/styleDashboard.css"
		/>
	</head>

	<body>
		<!-- navbar  -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" id="navbarList">
					<li class="nav-item">
						<a class="nav-link" href="/rewards">Rewards</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/posts">Posts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/settings">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Log Out</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- clouds in the background -->
		<div class="cloudDiv">
			<img src="../assets/cloud.png" class="cloud" id="cloud1" />
			<br />
			<img src="../assets/cloud.png" class="cloud" id="cloud2" />
			<br />
			<img src="../assets/cloud.png" class="cloud" id="cloud3" />
			<br />
			<img src="../assets/cloud.png" class="cloud" id="cloud4" />
			<br />
			<img src="../assets/cloud.png" class="cloud" id="cloud5" />
			<br />
			<img src="../assets/cloud.png" class="cloud" id="cloud6" />
			<br />
		</div>

		<!-- content -->
		<div class="outerDBContainer container-fluid">
			<div class="dashboardRow row justify-content-center">
				<div class="col-lg-4 col-md-4 col-sm-10 dashboardLeft">
					<!-- <div class="fixedWrapper col-lg-4 col-md-4 col-sm-10"> -->
					<div class="col-12 userDetails">
						<div class="col-3 userPhotoDiv">
							<img
								src="../assets/user/haileyJensen.jpg"
								alt="userPhoto"
								class="userPhoto"
							/>
						</div>
						<div class="col-4 userTextDiv">
							<h5 class="username">HaileyJensen</h5>
							<p class="points">Gems earned: 240</p>
						</div>
						<div class="col-5 filters">
							<form action="#" method="POST">
								<select name="What do you want to do?" id="whatSelector">
									<option value="whatToSee" selected>What to see?</option>
									<option value="whatToEat">What to eat?</option>
									<option value="others">Let's do something else</option>
									<option value="upForAnything">I am up for anything!</option>
								</select>
							</form>

							<form action="#" method="POST">
								<select name="Where?" id="whereSelector">
									<option value="hkIsland" selected>Hong Kong Island</option>
									<option value="kowloon">Kowloon</option>
									<option value="NT">New Territories</option>
									<option value="upForAnywhere">Take me anywhere!</option>
								</select>
							</form>
						</div>
					</div>
					<div class="col-12 writePost">
						<form action="/writePost" method="POST">
							<input
								type="text"
								name="postTitle"
								id="postTitle"
								placeholder="TITLE"
							/>
							<br />
							<textarea
								name="postContent"
								id="postContent"
								maxlength="500"
								placeholder="WHERE DID YOU GO? SHARE WITH US! (500 characters)"
							></textarea>
							<br />
							<input
								type="text"
								name="postAddress"
								id="postAddress"
								placeholder="ADDRESS"
							/>
							<div class="selectors">
								<select name="postDo" id="postWhatSelector">
									<optgroup label="What did you do?">
										<option value="whatToEat">Eat</option>
										<option value="whatToSee">See</option>
										<option value="others">It was something else!</option>
									</optgroup>
								</select>
								<select name="postGo" id="postWhereSelector">
									<optgroup label="Where did you go?">
										<option value="hkIsland">Hong Kong Island</option>
										<option value="kowloon">Kowloon</option>
										<option value="NT">New Territories</option>
									</optgroup>
								</select>
							</div>
							<input type="text" name="postLat" id="postLat" value="" />
							<input type="text" name="postLng" id="postLng" value="" />

							<div id="postMap"></div>

							<div class="row">
								<div class="col-6 selectedFileText">
									<div id="selected"></div>
								</div>
								<div class="col-6">
									<label class="button choosePhoto" for="postPhoto">
										Pick a Photo
									</label>
									<input
										type="file"
										id="postPhoto"
										onchange="displayFile()"
										accept="image/jpeg"
									/>
									<input
										type="text"
										name="postPhoto"
										id="postPhotoUrl"
										value=""
									/>

									<button type="submit" id="submitPost">Submit</button>
									<br />
								</div>
							</div>
						</form>
					</div>
					<!-- </div> -->
				</div>
				<!-- dashboard right content -->
				<div class="col-lg-5 col-md-5 col-sm-10 dashboardRight">
					<div class="col-12 container-fluid trendingPost">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 trendingUserPhotoDiv">
								<img
									src="../assets/user/aliciaMason.jpg"
									alt="userPhoto"
									class="trendingUserPhoto"
								/>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 trendingUserContentDiv">
								<p class="trendingUsername">
									<strong>aliciamason</strong>
								</p>
								<p class="trendingDate">29 October 2020</p>
								<h6 class="trendingTitle">Hong Kong Tramways</h6>
								<p class="trendingContent">
									The HK trams are also called “ding ding” because of the sound
									of the warning noise made to notify pedestrians of its
									presence is one of the moving landmarks of Hong Kong. It has
									been a form of commuter transport since 1904, and it’s a great
									way of travelling with locals who are in no hurry to go from
									point A to point B. Did you know that you could rent an
									open-top vintage tram for private parties? * Mind you, the HK
									trams only run on HK Island!
								</p>
								<br />
								<div class="col-12 counters">
									<span>
										<a href="#"><i class="fas fa-heart"></i></a>
										&nbsp; 5
									</span>
									<span>
										<a href="#"><i class="fas fa-comment-alt"></i></a>
										&nbsp; 2
									</span>
									<span>
										<a href="#">
											<i class="fas fa-globe-asia" onclick="mapPopUp(this)"></i>
										</a>
									</span>
								</div>
							</div>
							<br />
							<!-- <div class="row">
								<div class="col-12 trendingMapDiv">
									<span onclick="mapPopUpClose()" class="closeBtn">
										&#10005;
									</span>
									<div class="col-12 trendingMap">
										
									</div>
								</div>
							</div> -->
							<div class="row">
								<div class="col-12 trendingPhotoDiv">
									<img
										src="../assets/photos/HKtram.jpg"
										class="trendingPhoto"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 trendingPost">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 trendingUserPhotoDiv">
								<img
									src="../assets/user/ronnieCarter.jpg"
									alt="userPhoto"
									class="trendingUserPhoto"
								/>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 trendingUserContentDiv">
								<p class="trendingUsername">
									<strong>ronnie1998</strong>
								</p>
								<p class="trendingDate">29 October 2020</p>
								<h6 class="trendingTitle">
									The Coolest neighbourhood: Sham Shui Po
								</h6>
								<p class="trendingContent">
									My favourite place to take visitors to is Sham Shui Po, a Hong
									Kong hidden gem. This colourful Kowloon locality is one of the
									poorest of all the districts in Hong Kong and provides a stark
									contrast to the glitz and glam of the Central skyscrapers.
									Each street specialises in different goods, from kids clothes
									and suitcases, decorations to match the season, electronics of
									every kind, craft and jewelry making supplies and every fabric
									under the sun.
								</p>
								<br />
								<div class="col-12 counters">
									<span>
										<a href="#"><i class="fas fa-heart"></i></a>
										&nbsp; 8
									</span>
									<span>
										<a href="#"><i class="fas fa-comment-alt"></i></a>
										&nbsp; 3
									</span>
									<span>
										<a href="#"><i class="fas fa-globe-asia"></i></a>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-12 trendingPhotoDiv">
									<img src="../assets/photos/ssp.jpg" class="trendingPhoto" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- smooth scroll -->
		<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>
		<!-- jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- bootstrap -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
		<!-- GSAP -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
		<!-- custom -->
		<script src="../assets/frontend.js"></script>
		<script src="../assets/frontendDashboard.js"></script>
		<!-- Google Map-->
		<script
			defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB77Ifdt8J_FbKIlSLystbif9l7oEdliUg&callback=initMap"
		></script>
	</body>
	<!-- Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    title="Flaticon"> www.flaticon.com</a> -->
</html>
