{{>navLanding}}
{{!-- clouds in the background --}}
<div class="cloudDiv">
    <img src="../assets/cloud.png" class="cloud" id="cloud1"><br />
    <img src="../assets/cloud.png" class="cloud" id="cloud2"><br />
    <img src="../assets/cloud.png" class="cloud" id="cloud3"><br />
    <img src="../assets/cloud.png" class="cloud" id="cloud4"><br />
    <img src="../assets/cloud.png" class="cloud" id="cloud5"><br />
    <img src="../assets/cloud.png" class="cloud" id="cloud6"><br />

</div>

{{!-- contents --}}
<div class="container-fluid outerContainer">
    <div class="row justify-content-center topRow">
        {{!-- top left content (header)--}}
        <div class="col-lg-5 col-md-10 col-sm-10 headerContainer">
            <h1 id="mainHeader">Explore <br /><span id="HK"> Hong Kong </span><br />
                <span id="appName">JengSpot&nbsp;</span><img src="../assets/gems.png" id="gemstone"><br /> Like a Local
            </h1><br /><br />
        </div>
        {{!-- top right content (sign up div) --}}
        <div class="col-lg-5 col-md-10 col-sm-10 signUpContainer">
            <div id="signUpDiv">
                <p><strong>Sign up here!</strong></p>
                <form action="/signUp" method="post">
                    <input type="text" name="username" id="username" placeholder="USERNAME"><br />
                    <input type="password" name="password" id="password" placeholder="PASSWORD"><br />
                    <input type="email" name="email" id="email" placeholder="EMAIL"><br />
                    <button type="submit" id="signUpBtn">Join Now</button><br />
                    <button type="button" name="fbSignUp" class="oAuthSignUp">Join with Facebook</button>
                    <button type="button" name="googleSignUp" class="oAuthSignUp">Join with Google</button><br />
                    <span>By signing up, you agree to the <a href="#">Terms</a> and <a href="#">Privacy
                            Policy</a>.</span>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- bottom content --}}
<div class="container-fluid outerContainer">
    {{!-- second row --}}
    <div class="row justify-content-center secondRow">
        <div class="contents col-lg-5 col-md-10 col-sm-10" id="topLeft">
            <h2 id="calling">Calling all HK-ers!</h2>
            <ul>
                <li>
                    Sign Up, <span class="halfHighlightGreen">share</span> your HK experience with others and
                    get
                    your
                    <span class="halfHighlightGreen">reward</span>!
                </li>
                <li>
                    <span class="halfHighlightGreen">Discover</span> new cool places of HK from your fellow
                    HK-ers
                </li>
                <li>
                    Have you content rated by the community and <span class="halfHighlightGreen">featured</span>
                    on
                    the front
                    page!
                </li>
            </ul>
        </div>

        <div class="contents col-lg-5 col-md-10 col-sm-10" id="topRight">
            <h2 id="calling">Our dear travellers</h2>
            <ul>
                <li>
                    Sign Up and <span class="halfHighlightGreen">discover</span> new cool places the locals
                    love!
                </li>
                <li>
                    Find the <span class="halfHighlightGreen">best and hottest deals</span> in town
                </li>
                <li>
                    <span class="halfHighlightGreen">Ask</span>, and your question shall be answered!
                </li>
            </ul>
        </div>

    </div>
    {{!-- third row --}}
    <div class="row justify-content-center thirdRow">
        <div class="contents contentCard col-lg-5 col-md-10 col-sm-10" id="btmLeft">
            <div class="row cardInnerRow">
                <div class="col-lg-8 col-sm-12 cardInnerPhoto">
                    <img src="./photos/hkShopCats.jpg" class="imgCover">
                </div>
                <div class="col-lg-4 col-sm-12 cardInnerText">
                    <p>
                    <h3><i class="fas fa-quote-left"></i></h3>The whimsical life of Hong Kong’s shop cats is showcased
                    in a new book by a Dutch photographer after... <br /><br /><a href="#">click to read more</a></p>
                </div>
            </div>
        </div>
        <div class="contents contentCard col-lg-5 col-md-10 col-sm-10" id="btmRight">
            <div class="row cardInnerRow">
                <div class="col-lg-8 col-sm-12 cardInnerPhoto">
                    <img src="./photos/driedSeafoodStreet.jpg" class="imgCover">
                </div>
                <div class="col-lg-4 col-sm-12 cardInnerText">
                    <p>
                    <h3><i class="fas fa-quote-left"></i></h3>A section of
                    Des Voeux Road West in Sheung Wan is packed with shops selling dried seafood. The
                    origins of the trade... <br /><br /><a href="#">click to read more</a></p>
                </div>
            </div>

            {{!-- <div class="overlay">
                <h5 class="card-title">Dried Seafood Street</h5>
                <p class="card-text">Des Voeux Road West, Wing Lok and Ko Shing Streets are known as Dried
                    Seafood Street and Tonic Food Street. A section of
                    Des Voeux Road West in Sheung Wan is packed with shops selling dried seafood. The
                    origins of the trade in this area go
                    back many decades, to when the products were dried on the rooftops, to be sold in the
                    street-level stores. Black moss,
                    salted fish, sausage, scallops ... <a href="#"><b>Click to read
                            more</b></a>
                </p>
            </div> --}}
        </div>


    </div>

</div>
{{>footer}}





{{!-- Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    title="Flaticon"> www.flaticon.com</a> --}}