body {
	background-image: linear-gradient(
		to bottom,
		#40a9e6,
		#40a9e6 80%,
		#008020 20%
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: "Open Sans";
	color: #fff;
}

@media only screen and (max-width: 600px) {
	body {
		overflow: auto;
	}
}

nav {
	font-family: "Open Sans";
	font-weight: 500;
}

.nav-item {
	padding: 0 10px;
}

/* clouds to animate */
.cloud {
	z-index: -1;
	height: 10vh;
	animation-name: float;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	position: absolute;
}

#cloud1 {
	animation-duration: 40s;
}

#cloud2 {
	animation-duration: 47s;
	animation-delay: 20s;
}

#cloud3 {
	animation-duration: 35s;
	animation-delay: 4s;
}

#cloud4 {
	animation-duration: 65s;
	animation-delay: 12s;
}

#cloud5 {
	animation-duration: 40s;
	animation-delay: 9s;
}

@keyframes float {
	from {
		transform: translateX(-20vw);
	}
	to {
		transform: translateX(100vw);
	}
}

/* Landing Page Container */
.outerContainer {
	position: absolute;
	top: 8%;
}

/* Landing Page Left Content */
/* h1 */
#mainHeader {
	font-family: "Montserrat";
	font-size: 3em;
	text-shadow: 4px 4px #494949;
	margin-top: 10%;
	line-height: 1.4em;
}
#mainHeader span {
	background-color: #fff;
	color: #494949;
	text-shadow: none;
	transition: all 0.2s ease-in-out;
}
#mainHeader span:hover {
	background: #494949;
	color: #fff;
	text-shadow: none;
}

/* sign up box */

#signUpDiv::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: -15%;
	left: 75%;
	background-image: url(./png/001-backpack.png);
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

#signUpDiv {
	background-color: #fff;
	height: 45vh;
	box-shadow: 4px 4px #494949;
	color: #494949;
	padding: 20px;
	transform: rotateZ(-2deg);
	text-align: center;
}

#signUpDiv input {
	border: 1px solid #494949;
	width: 90%;
	margin: 6px 8px;
}

#signUpDiv p {
	font-size: 1.3em;
}

#signUpBtn {
	margin: 10px;
	background-color: #494949;
	color: #fff;
	border: 1px solid #494949;
	transition: all 0.2s ease-in-out;
}

#signUpBtn:hover {
	background: white;
	border: 1px solid #fff;
	color: #494949;
}

.oAuthSignUp {
	margin: 5px 7px;
	background-color: #fff;
	border: none;
	font-size: 0.8em;
	transition: all 0.2s ease-in-out;
}

.oAuthSignUp:hover {
	background: #494949;
	color: #fff;
}

#signUpDiv span {
	font-size: 0.6em;
}

#signUpDiv a {
	color: #494949;
	text-decoration: underline;
}

/* Landing Page Right Content */
.content {
	display: inline-block;
	background-color: #fff;
	margin: 1vw;
	height: 40vh;
	width: 25vw;
	box-shadow: 4px 4px #494949;
	color: #494949;
	padding: 20px;
	font-family: "Open Sans";
	font-size: 14px;
}

/* topleft */
#calling {
	font-family: "Montserrat";
}
.content ul {
	list-style-image: url("./value.png");
	padding-left: 20px;
}
.content li {
	padding-top: 8px;
}

/* bottom right */

/* cards */
#topRight {
	background-image: url("./photos/driedSeafoodStreet.jpg");
	background-size: cover;
	background-position: center;
}
#btmLeft {
	background-image: url("./photos/hkShopCats.jpg");
	background-size: cover;
	background-position: center;
}
.card-title,
.card-text {
	opacity: 20%;
	color: #fff;
	transition: all 0.5s ease-in-out;
}

.overlay {
	transition: all 0.5s ease-in-out;
	height: 40vh;
	width: 25vw;
	position: relative;
	top: -20px;
	left: -20px;
	padding: 20px;
}

.contentCard:hover .overlay {
	background-color: #fff;
	opacity: 0.7;
}
.contentCard:hover .card-title {
	color: #000;
	opacity: 1;
}
.contentCard:hover .card-text {
	color: #000;
	opacity: 1;
}

.contentCard a {
	text-decoration: underline;
	color: #494949;
}

/* illustrations */

#topLeft::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: -6%;
	left: 39%;
	background-image: url(./png/031-woman-3.png);
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

#btmRight::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: 88%;
	left: 85%;
	background-image: url(./png/035-traveler.png);
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}
