body {
	background-image: linear-gradient(
		to bottom,
		#40a9e6,
		#40a9e6 80%,
		#008020 20%
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: "Open Sans";
	color: #fff;
	overflow-x: hidden;
}

/* clouds to animate */
.cloudDiv {
	position: absolute;
	z-index: -5;
	left: -15vh;
}
.cloud {
	height: 10vh;
	left: -15vh;
}

/* container */
.outerContainer {
	position: relative;
	top: 15vh;
	width: 100%;
}

/* row spacing*/
.topRow {
	margin: 10vh 0;
}
.secondRow,
.thirdRow {
	margin: 5vh 0;
}
/* h1 */
#mainHeader {
	font-family: "Montserrat";
	font-size: 4em;
	text-shadow: 4px 4px #494949;
	margin-top: -5%;
	line-height: 1.4em;
}
#HK {
	background-color: #fff;
	color: #494949;
	text-shadow: none;
	transition: all 0.2s ease-in-out;
}
#gemstone {
	height: 80px;
}
#mainHeader span:hover {
	background: #494949;
	color: #fff;
	text-shadow: none;
}

/* sign up box */

#signUpDiv::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: -15%;
	left: 5%;
	background-image: url(./png/001-backpack.png);
	background-size: cover;
	background-position: center;
	animation: jump 1s infinite;
	animation-timing-function: ease-in-out;
}

@keyframes jump {
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(5px);
	}
	75% {
		transform: translateY(5px);
	}
}

#signUpDiv {
	background-color: #fff;
	height: 47vh;
	box-shadow: 6px 6px #494949;
	color: #494949;
	padding: 20px;
	/* transform: rotateZ(-2deg); */
	text-align: center;
}

#signUpDiv input {
	border: none;
	border-bottom: 1px solid #494949;
	width: 90%;
	margin: 6px 8px;
}

#signUpDiv p {
	font-size: 1.3em;
}

#signUpBtn {
	margin: 10px;
	background-color: #494949;
	color: #fff;
	border: 1px solid #494949;
	transition: all 0.2s ease-in-out;
}

#signUpBtn:hover {
	background: white;
	border: 1px solid #fff;
	color: #494949;
}

.oAuthSignUp {
	margin: 5px 7px;
	background-color: #fff;
	border: none;
	font-size: 0.8em;
	transition: all 0.2s ease-in-out;
}

.oAuthSignUp:hover {
	background: #494949;
	color: #fff;
}

#signUpDiv span {
	font-size: 0.6em;
}

#signUpDiv a {
	color: #494949;
	text-decoration: underline;
}

/* Landing Page Right Content */
.contents {
	display: inline-block;
	background-color: #fff;
	margin: 1vw;
	height: 40vh;
	box-shadow: 6px 6px #494949;
	color: #494949;
	padding: 20px;
	font-family: "Open Sans";
	font-size: 14px;
}

/* topleft */ /* bottom right */
#calling {
	font-family: "Montserrat";
}
.contents ul {
	list-style-image: url("./value.png");
	padding-left: 20px;
}
.contents li {
	padding-top: 8px;
}

.halfHighlightGreen {
	background: linear-gradient(to top, #00e23986 50%, transparent 50%);
	transition: all 0.5s ease-in-out;
}

/* cards */
/* #btmRight {
	background-image: url("./photos/driedSeafoodStreet.jpg");
	background-size: cover;
	background-position: center;
} */
#btmLeft,
#btmRight {
	padding: 0 15px;
}
.cardInnerPhoto {
	display: flex;
	padding: 0;
}
.imgCover {
	height: 40vh;
	width: 100%;
	object-fit: cover;
}

.cardInnerText {
	padding: 4%;
}

.cardInnerText a {
	font-size: 0.8em;
	color: #494949;
	text-decoration: underline;
}
.cardInnerText a:hover {
	font-size: 0.8em;
	color: #494949;
	text-decoration: none;
}

/* illustrations */

#topLeft::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: -18%;
	left: 70%;
	background-image: url(./png/031-woman-3.png);
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

#topRight::before {
	content: "";
	height: 60px;
	width: 60px;
	position: absolute;
	top: 79%;
	left: 80%;
	background-image: url(./png/035-traveler.png);
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
	.outerContainer {
		top: -2vh;
	}
	#HK {
		font-size: 0.8em;
	}
	#gemstone {
		height: 40px;
	}
	#appName {
		font-size: 0.8em;
	}
	.headerContainer {
		margin: 5vmin 0;
	}
	.contents {
		margin: 5vmin;
	}
	.secondRow {
		margin-bottom: 0;
	}
	.thirdRow {
		margin-top: 0;
		margin-bottom: 15vh;
	}
}
